name: twind
description: Tailwind-style utility classes for Flutter widgets with compile-time code generation.
version: 0.0.1
homepage: https://github.com/shreyassanthu77/twind

environment:
  sdk: ^3.10.1
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
