name: Publish twind_generator to pub.dev

on:
  push:
    tags:
      - 'twind_generator-v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    with:
      working-directory: packages/twind_generator
