name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Get dependencies (twind)
        working-directory: packages/twind
        run: flutter pub get
      
      - name: Get dependencies (twind_generator)
        working-directory: packages/twind_generator
        run: dart pub get
      
      - name: Publish twind
        working-directory: packages/twind
        run: dart pub publish --force
      
      - name: Publish twind_generator
        working-directory: packages/twind_generator
        run: dart pub publish --force
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          tag_name: ${{ github.ref_name }}
